.banner {
  background-image: url(https://arthur-littm.github.io/startup-landing/images/background.png);
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px 2px rgb(50,50,50);
  height: 400px;
  display: flex;
  align-items: center;
}

.banner h1 {
  color: white;
}

.banner h2 {
  color: rgb(200,200,200);
  font-weight: lighter;
  font-family: Open Sans;
}

.banner-content {
  padding: 20px 0px;
}

.banner button {
  text-decoration: none;
  color: white;
  background-color: #1ddd88;
  border: 0px;
  padding: 18px 35px;
  border-radius: 30px;
  transition: 0.5s;
}

.banner button:hover {
  color:black;
}
